<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Straitter Continent</title>
  <link href="./main.css" rel="stylesheet">
</head>
<body>
<div id="app">
<textarea v-model="text" rows="5" cols="33"></textarea><br>
<button @click="writeText()">投稿</button>
<span class="tag" v-for="tag in tag_list" @click="addTag(tag)">{{tag}}</span>
<br>
<p v-for="post in posts">{{post.text}}: {{post.timestamp}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="module">
import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js';
import { getDatabase, ref, set, get } from 'https://www.gstatic.com/firebasejs/9.17.1/firebase-database.js';

const firebaseConfig = {
  apiKey: "AIzaSyDFW53XswLqX3ASdY7-lA8Mm4ai7YVV6mk",
  authDomain: "straitter-ec081.firebaseapp.com",
  projectId: "straitter-ec081",
  storageBucket: "straitter-ec081.appspot.com",
  messagingSenderId: "120790459872",
  appId: "1:120790459872:web:15baeb746c15604f807785",
  measurementId: "G-E3XN4CXWTH",
  databaseURL: "https://straitter-ec081-default-rtdb.asia-southeast1.firebasedatabase.app",
};

const app = initializeApp(firebaseConfig);
const database = getDatabase(app);

const vueapp = {
  el: '#app',
  data(){
    return {
        text: "",
        timestamp: 0,
        posts: [],
        count: 0,
        tags: [],
        tag_list: [],
        test: false
      }
    },
    mounted(){
      this.get()
    },
    methods: {
      get(){
        const dataRef = ref(database, "tags/" );
        get(dataRef).then((snapshot) => {
          if (snapshot.exists()) {
            this.tag_list = snapshot.val();
            console.log("tags load ok")
          } else {
            console.log("No data available");
          }
        }).catch((error) => {
          console.error(error);
        });
      },
      writeText() {
        let embed = false
        if(new RegExp(/(\[.+\])+/).test(this.text)){
          this.tags = this.text.match(/\[.+\]/)[0].replace(/\]\[/g,",").replace(/\[/g,"").replace(/\]/g,"").split(",")
          this.text = this.text.match(/\[.+\]([\s\S]*)/)[1]
          this.updateTagList()
        }
        if(new RegExp('status\/\[0-9]+').test(this.text)){
          if(new RegExp('x.com').test(this.text)){
            this.text = this.text.replace(/x.com/g, "twitter.com")
          }
          this.text = '<blockquote class="twitter-tweet"><a href="'
            + this.text
            + '"></a></blockquote>'
          embed = true
        } else if(new RegExp(/(youtube\.com|youtu\.be)/g).test(this.text)){
          let str = this.text.match(/v=(.+)/)
          if(str){
            str = str[1]
            embed = true
          } else {
            str = this.text.match(/shorts\/(.+)/)
            if(str){
              str = str[1]
              embed = true
            } else {
              embed = false
            }
          }
          if(embed)
          this.text = `<iframe width="560" height="315" src="https://www.youtube.com/embed/${str}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`
        }
        const timestamp = Date.now()
        if(!this.test){
          set(ref(database, 'posts/' + timestamp), {
            text: this.text,
            timestamp: timestamp,
            r18: false,
            embed: embed,
            tags: this.tags
          });
        }
        this.text = ""
        this.tags = []
      },
      updateTagList(){
        if(this.test){return false}
        let temp_tag_list = this.tags.concat(this.tag_list) 
        temp_tag_list = temp_tag_list.filter((elem, index, self) => self.indexOf(elem) === index);
        set(ref(database, 'tags/'), temp_tag_list)
        this.get()
      },
      addTag(tag){
        this.text = "[" + tag + "]" + this.text
      }
    }
}
Vue.createApp(vueapp).mount('#app')
</script>
</body>
</html>