<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Straitter Continent</title>
</head>
<body>
<div id="app">
<textarea v-model="text" rows="5" cols="33"></textarea><br>
<button @click="writeText()">投稿</button><br>
<p v-for="post in posts">{{post.text}}: {{post.timestamp}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="module">
import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js';
import { getDatabase, ref, set } from 'https://www.gstatic.com/firebasejs/9.17.1/firebase-database.js';

const firebaseConfig = {
  apiKey: "AIzaSyDFW53XswLqX3ASdY7-lA8Mm4ai7YVV6mk",
  authDomain: "straitter-ec081.firebaseapp.com",
  projectId: "straitter-ec081",
  storageBucket: "straitter-ec081.appspot.com",
  messagingSenderId: "120790459872",
  appId: "1:120790459872:web:15baeb746c15604f807785",
  measurementId: "G-E3XN4CXWTH",
  databaseURL: "https://straitter-ec081-default-rtdb.asia-southeast1.firebasedatabase.app",
};

const app = initializeApp(firebaseConfig);
const database = getDatabase(app);

const vueapp = {
  el: '#app',
  data(){
    return {
        text: "",
        timestamp: 0,
        posts: [],
        count: 0,
        tags: [],
        test: true
      }
    },
    mounted(){
    },
    methods: {
      writeText() {
        let embed = false
        if(new RegExp('https:\/\/twitter.com\/.+\/status\/\[0-9]+').test(this.text)){
          this.text = '<blockquote class="twitter-tweet"><a href="'
            + this.text
            + '"></a></blockquote>'
          embed = true
        } else if(new RegExp(/\b(?:https?):\/\/(?:www\.)?(?:youtube\.com|youtu\.be)\/[\w!?/+\-|:=~;.,*&@#$%()'"[\]]+/g).test(this.text)){
          let str = this.text.match(/v=(.+)/)[1]
          this.text = `<iframe width="560" height="315" src="https://www.youtube.com/embed/${str}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`
          embed = true
        } else if(new RegExp(/(\[.+\])+/).test(this.text)){
          this.tags = this.text.match(/\[.+\]/)[0].replace("][",",").replace("[","").replace("]","").split(",")
          this.text = this.text.match(/\[.+\]([\s\S]*)/)[1]
        }
        const timestamp = Date.now()
        if(!this.test){
          set(ref(database, 'posts/' + timestamp), {
            text: this.text,
            timestamp: timestamp,
            r18: false,
            embed: embed,
            tags: this.tags
          });
        }
        this.text = ""
      },
    }
}
Vue.createApp(vueapp).mount('#app')
</script>
</body>
</html>